<template>
  <div>
      <form @submit="onSubmit">
          <input type="text" v-model="title" name="title" placeholder="Add Checklist">
          <input type="submit" value="Add Checklist">
      </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import uuid from 'uuid';

export default {
    name:"AddChecklist",
    data() {
        return {
            title: ''
        }
    },
    methods: {
        ...mapActions(['addChecklist']),
        onSubmit(e) {
            e.preventDefault();
            const checklist = {
                id: uuid.v4 (),
                title: this.title,
                completed: false
            };
            this.addChecklist(checklist)
        }
    }
}
</script>

<style>

</style>